body{
	font-family:Arial;
}
.box {
	background-color: #333;
	width:374px;
	height:374px;
	padding:0 0 1px 1px;
}
.in{
	float:left;
	width:40px;
	height:40px;
	margin:1px 1px 0 0;
	background-color:#fff;
	font-size:30px;
	font-weight:bold;
	text-align:center;
	line-height:40px;
	position:relative;
}
.in .num{
	position:absolute;
	display:none;
	font-size:10px;
	width:10px;
	height:10px;
	line-height:10px;
	color:#ccc;
	cursor:default;
}
.in .mm{
	position:absolute;
	display:block;
	font-size:10px;
	width:10px;
	height:10px;
	line-height:10px;
	color:#ccc;
	cursor:default;
}

.c3,
.c6{
	margin-top:3px;
}
.r2,
.r5{
	margin-right:3px;
}
.put{
	position:absolute;
	width:40px;
	height:40px;
	background-color:#FFF;
}
.put input{
	border:none;
	margin:10px;
}
.fo{
	background-color:#9FF;
}
.red{
	color:#f00;
}
